<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title>Login with AvoRed</title>
    <link href="/public/css/app.css" rel="stylesheet">
    <script src="/public/js/app.js" defer></script>
</head>

<body>
    <div class="min-h-screen flex w-full justify-center items-center">
        <div class="border bg-white max-w-md w-full rounded shadow-lg">
            <div class="block px-12 py-12 mb-5">
                <div class="flex justify-center w-full">
                    <img src="/public/img/logo.svg" class="w-16 h-16" />
                </div>
                <h4 class="w-full mt-5 text-center font-semibold text-xl">
                    Sign into your AvoRed Go Admin
                </h4>

                <form class="mt-5 w-full space-y-6" action="/admin/login" method="POST">
                    <div class="mt-3">
                        <label for="email-address" class="text-gray-500 text-sm">
                            Email address
                        </label>
                        <input id="email-address" autofocus name="email" type="email" autocomplete="email" required
                            class="rounded text-sm w-full" placeholder="Email address">
                    </div>
                    <div class="mt-3">
                        <label for="password" class="text-gray-500 text-sm">
                            Password
                        </label>
                        <input id="password" name="password" type="password" required class="rounded text-sm w-full"
                            placeholder="Password">
                    </div>

                    <div class="flex items-center justify-between">
                        <div class="text-sm">
                            <a href="#" class="font-medium text-red-600 hover:text-red-500">
                                Forgot your password?
                            </a>
                        </div>
                    </div>

                    <div>
                        <button type="submit" class="group relative w-full flex justify-center py-3 px-5 rounded 
                                    bg-red-700 hover:bg-red-700">
                            <span class="text-red-500">
                                <i data-feather="lock" class="absolute left-4" width="20" height="20"></i>
                            </span>
                            <span class="ml-5 text-sm text-white font-medium">Sign in</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
